
.container{
    border-style: solid;
    border-color: white;
    background-color: white;
    border-width: 1px;
    width: 400px;
    height: 450px;
    box-shadow: 1px 1px 20px 10px rgb(235, 229, 229);
    border-radius: 2%;
    margin-left: 120%;
}
.create{
    font-size:25px ;
    font-family:initial;
    margin-left: 20%;
    color: black;
    
}
.loginimage{
    width: 100px;
    margin-top: 30px;
    margin-left: 35%;
}
.email{
    background-color: white;
    width: 240px;
    height: 35px;
    padding-left: 20px;
    border-style: solid;
    border-width: 1px;
    color: black;
    margin-left: 15%;
}
.continue{
    text-align: center;
    background-color: blue;
    width: 260px;
    margin-left: 15%;
}