#root {
  max-width: 1280px;
  padding: 1px;
  
}

.abc{
  color: lightblue;
  margin-top: -900px;
  margin-left: 200px;
  
  padding-bottom: 10px;
  

}
.app-container{
  transition: all 0.1s ease; 
}
.xyz{
  margin-top: 800px;
}
.bbb{
  margin-right: 40px;
  font-size: 17px;
  cursor: pointer;
  
}
.bbb:hover{
  padding-bottom: 5px;
  border-bottom: 5px solid white;
  border-radius: 5px;
  
}
.bottomlines{
  border-bottom: 1px solid Black;
  width: 1150px;
  padding-bottom: 4px;
  margin-top: -0.2px;

}

.app-container{
  transition: all 0.3s ease-in;
}
.closedd{
  margin-left: -15%;
  
}
.closedline{
  width: 1295px;
}
@media (max-width: 600px) {
  .bbb{
    font-size: 12px;
    margin-right: 10px;
  }
  .bottomlines{
    width: 47%;
  }
  .closedd{
    margin-left: -35%;
    width: 270%;
  }
}
@media (min-width: 600px) and (max-width:800px){
  .closedd{
    margin-left: -12%;
  }
  .bbb{
    font-size: 14px;
    margin-right: 25px;
  }
  .abc{
    margin-left: 195px;
  }
  .closedd{
    margin-left: -15%;
  }
}